nav {
  border-bottom: 1px solid #dee2e6;
}

.navbar-expand .navbar-nav .nav-link {
  padding: 0.5rem 1rem;
}

.nav-link {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;

  &:hover, &:focus {
    color: rgba(0, 0, 0, 0.7);
  }
}
