<div [formGroup]="formGroup" [class]="class">
  <!-- password -->
  <div class="form-group max-w-lg">
    <label>Лозинка</label>
    <input
      type="password"
      class="form-control"
      [class.is-invalid]="
        !formGroup.get('password').valid && formGroup.get('password').touched
      "
      formControlName="password"
      trim
      (input)="onManualInput()"
    />
  </div>

  <!-- confirm -->
  <div class="form-group max-w-lg">
    <label>Потврда лозинке</label>
    <input
      type="password"
      class="form-control"
      [class.is-invalid]="
        formGroup.errors &&
        formGroup.errors.passwordsNotMatch &&
        formGroup.get('confirm').touched
      "
      formControlName="confirm"
      trim
      (input)="onManualInput()"
    />
  </div>

  <div class="form-group flex">
    <button
      type="button"
      class="btn btn-secondary btn-sm"
      (click)="onGenerateRandomPassword()"
    >
      Генериши лозинку:
    </button>

    <span class="self-center ml-4 text-xl" *ngIf="randomPassword">
      {{ randomPassword }}
    </span>
  </div>
</div>
